.background {
  background-color: #c01a08;
  padding: 100px;
}

.letter-heading {
  background-color: #336710;
  padding: 10px;
  border-radius: 10px;
  color: #fcfcfc;
  text-align: center;
  margin-top: 40px;
  font-weight: 700;
}

.card-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.list-input {
  padding: 20px;
  width: 70vw;
  border-radius: 10px;
  border-color: #336710;
  margin: 10px;
}

.submit-button {
  background-color: #336710;
  color: white;
  text-align: center;
  width: 20vw;
  padding: 20px;
  border-radius: 10px;
  border-color: white;
  border-width: 10px;
}

.reset-button {
  color: white;
  background-color: #c01a08;
  text-align: center;
  width: 200px;
  padding: 20px;
  margin-top: 50px;
  border-radius: 10px;
  border-color: white;
  border-width: 10px;
}

input:focus,
button:focus {
  outline: none;
}

.showContent {
  visibility: visible;
}

.hideContent {
  visibility: hidden;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px;
}

.input-card {
  border-color: transparent;
  border-radius: 10px;
  background-image: url("http://th06.deviantart.net/fs71/PRE/f/2012/358/6/f/christmas_stripes_pattern_4_by_dabbexsahi_by_dabbex30-d5ozurd.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.content-wrapper {
  border-width: 5px;
  margin-top: 150px;
  background: white;
  
}