.background {
  background-color: #c91818;
  padding: 100px;
}

.letter-heading {
  color: #fcfcfc;
  text-align: center;
  margin-top: 40px;
  font-weight: 700;
}

.card-wrapper {
  text-align: center;
  margin: 30px;
}

.list-input {
  padding: 20px;
  width: 70vw;
  border-radius: 10px;
  border-color: #07ba2e;
  margin: 10px;
}

.submit-button {
  text-align: center;
  margin-top: 50px;
  width: 20vw;
  padding: 20px;
  border-radius: 10px;
  border-color: #c91818;
}

.reset-button {
  margin-top: 50px;
  width: 20vw;
  padding: 20px;
  border-radius: 10px;
  border-color: #07ba2e;
}